/* ============================================================ */
/*
	Responsive CSS 
	- Notes content
	- Notes content
*/
/* ============================================================ */

:root {
	
	/* ===== Personal Devices ===== */
		--desktop: 1880px;
		--laptop-M: 1500px;

	/* ===== Based on Chrome DevTools ===== */
		--4k: 2560px;
		--laptop-L: 1440px;
		--laptop: 1024px;
		--tablet: 768px;
		--mobile-L: 425px;
		--mobile-M: 375px;
		--mobile-S: 320px;

	/* ===== Custom Breakpoints ===== */
		--breakpoint-1: 1000px;
		--breakpoint-2: 600px;
		--breakpoint-3: 400px;

}


@media (max-width: var(--breakpoint-1)) {
  /*Activates BELOW --breakpoint-1*/
}