---
/*========================================*/
/*	PAGE: Home/Index
		NOTES:	
*/
/*========================================*/

//Essential Components
import Layout from '@layouts/SplashLayout.astro';

//Content Components
	//import MasterComponent from '@components/MasterComponent.astro';
	import LinkCards from '@components/contentComponents/LinkCards.astro';
	// SplitLayout from '@components/contentLayouts/SplitLayout.astro';
	import FooterNotice from '@components/contentComponents/FooterNotice.astro';
	import SiteQRCodeLink from '@components/contentComponents/SiteQRCodeLink.astro';
	//import DisplayBits from '@components/DisplayBits.astro';
---

<Layout 
	title="Grovery Holiday AR"
	heading="Grovery Holiday AR"
	marker="/markers/grovery-holiday-marker-v2.jpg"
	qrcode="https://grovery-ar.netlify.app/grovery-holiday-ar?position=wall"
	
>
	<div class="metaDetails">
		<p class="clientName">The Grovery | Holiday Card Hologram</p>
		<p class="companyName">The Grovery | Augmented Reality 3D Object Display</p>
	</div>
	<div class="subheading">
		<span class="symbol">⚠ ⚠ ⚠</span>
		<span class="text">Instructions:</span>
		<span class="symbol">⚠ ⚠ ⚠</span>
	</div>
	<div class="bodyText">
		<ol class="instructions">
			<li>Scan the QR code below with your phone to open the web viewer.</li>
			<li>Once the viewer loads, point your camera at the marker image to the right.</li>
			<li>The 3D hologram will appear floating in front of the marker image.</li>
		</ol>
	</div>
</Layout>

<style lang="scss">
	
	.clientName, .companyName {
			font-size: 1rem;
			margin-bottom: 0;
			padding: 1rem 0.5rem;
			font-weight: 500;
			border-bottom: var(--border-settings-main);
			/* display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center; */
		}

		.subheading{
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				padding: 1rem 0.5rem 1rem;
				border-bottom: var(--border-settings-main);
				background-color: var(--accent-color);
				color: var(--background-color);
				border-color: solid 2px var(--background-color);
				.symbol{
					
				}
				.text{
					margin:0 1em;
					font-weight: 800;
					
				}
			}

		.bodyText {
			font-size: 1rem;
			line-height: 1.6;
			padding: 0.25rem 0.5rem 1rem;
			border-bottom: var(--border-settings-main);
			background-color: var(--accent-color);
			color: var(--background-color);
			
			strong{
				text-decoration: underline;
			}
			.symbol{
				font-size: 1.75em;
				text-align: center;
			}
			
			.instructions{
				li{
					margin-bottom: 0.25em;
				}
			}
		}
	
	.markerSection{
		display: flex;
		justify-content: center;
		align-items: center;
		img{
			width: 100%;
			max-width: 85vh;
		}
	}
</style>