---

const {} = Astro.props;
---

<section>
	<p><strong>WARNING:</strong> Web Virtual and Augmented Reality is still a <em>bleeding-edge</em> technology, and you may experience issues depending on your device, browser, OS/app version, or other unforseen circumstances. While this project can be used on a wide variety of devices, that also comes with an increased likelyhood of bugs and issues as we try to make something that is accessible to everyone on all platforms.</p>

	<p><strong>Warning:</strong> Older Apple devices (iPhone 9 and below) are not supported. Apple intentionally disabled Web AR functionality on all devices manufactured during this time period, and has not released an update to enable the functionality. Even though Web AR code <em>should</em> work on these devices, Apple made the decision to block the use of this technology. Android phones manufactured during this time period fully support Web AR.</p>
</section>