---

const {} = Astro.props;
---

<section>
	WARNING: Web VR is still a <em>bleeding-edge</em> technology, and you may experience issues depending on your device, browser, software/app version, headset model or other unforseen circumstances. While this project can be used on a wide variety of devices, that also comes with an increased likelyhood of bugs and issues as we try to make something that is accessible to everyone on all platforms and at all price points.
</section>