---
import SplitLayout from '@components/contentLayouts/SplitLayout.astro';
import QRCode from '@components/QRCode.astro';
const {} = Astro.props;

//Site Data
const siteData = await import("src/data/siteData.json");
---

<section class="noPadding">
	<SplitLayout>
		<Fragment slot="left-slot"> 
			<h2>Scan To Open On Mobile</h2>
			<p>Augmented Reality experiences are best viewed on your phone. Scan the QR code to open this page on your phone and select the experience you'd like to view.</p>
		</Fragment>
		<Fragment slot="right-slot"> 
			<QRCode 
				id="default-qrcode"
				link={siteData.siteURL}
			/>
			<a class="qrCodeSubLink" href={siteData.siteURL} target="_blank">{siteData.siteURL}</a>
		</Fragment>
	</SplitLayout>
</section>