---
/*========================================*/
/*	PAGE: Home/Index
		NOTES:	
*/
/*========================================*/

//Essential Components
	import Layout from '@layouts/Layout.astro';

//Content Components
	//import MasterComponent from '@components/MasterComponent.astro';
	import LinkCard from '@components/contentComponents/LinkCard.astro';
	// SplitLayout from '@components/contentLayouts/SplitLayout.astro';
	import FooterNotice from '@components/contentComponents/FooterNotice.astro';
	import SiteQRCodeLink from '@components/contentComponents/SiteQRCodeLink.astro';
	//import DisplayBits from '@components/DisplayBits.astro';
---

<Layout 
	title="Index"
	heading="The Grovery Augmented Reality Experiences"
>
	
	<section>
		<h2 class="text-size-3">Links</h2>
		<div class="card-grid">
			<LinkCard
			name="Grovery Holiday Card 2024"
			description="Augmented Reality Holiday Card - Multi-Plane Video"
			link="/grovery-holiday-card"
		/>	

		<LinkCard
			name="Video Test"
			description="v1 Basic Video Test."
			link="/video-test"
		/>	
		</div>
		
	</section>

	<SiteQRCodeLink/>
	<FooterNotice/>

</Layout>


<style>
	.card-grid{
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
	}
</style>
