---

---

<div class="Info">
	<div class="titleSection">
		<h1>[Showcase Demo] </h1>
	</div>
	
	<div class="bodySection">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Commodo quis imperdiet massa tincidunt. Id leo in vitae turpis massa. Fames ac turpis egestas maecenas. Euismod nisi porta lorem mollis aliquam. Posuere morbi leo urna molestie at elementum eu. At in tellus integer feugiat scelerisque varius morbi. 
		</p>
	</div>
	<div class="authorSection">
		<p>Alec Reimel | <a href="#">Planet Caravan Studios</a></p>
		
	</div>
</div>


<style>
	.Info{
		height: 100%;
	}
	.titleSection{
		height: 100px;
		padding:var(--padding-1);
		border-bottom: solid var(--border-width) var(--border-color);
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.bodySection{
		height: calc(100% - 200px);
		overflow-y: scroll;
		padding:var(--padding-1);
	}
	.authorSection{
		height: 100px;
		padding:var(--padding-1);
		border-top: solid var(--border-width) var(--border-color);
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
